*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --bg-login: url('./img/dev-1.png.webp');
    --bg-color: #151515;
    --custom-bg-main: #6a329f;
    --custom-bg-secondary: #000000;
    --kt-input-solid-bg: #151515;
    --kt-input-solid-color: #F3F6F9;
    --kt-input-solid-bg-focus: #151515;
}

body{
    background-color: var(--bg-color);
    inline-size: auto;
}

main{
    display: inline-flex;
    max-height: 100vh;
}

.img-login{
    background-image: var(--bg-login);
    width: 460px;
    height: 920px;
    display: inline-block;
}

.container{
    display: contents;
    justify-content: center;
    align-items: center;
}


.logo{
    padding-top: 20px;
    margin-left: 20px;
}


form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 1000px;  
}

h2{
    color: aliceblue;
    font-size: 32.5px;
}

 input{
    padding: 1.2rem;
    font-size: 1.2rem;
    height: 3rem;
    width: 26rem;
    border: none;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
 }

 a{
    text-decoration: none;
    color: var(--kt-input-solid-color);
    margin-left: 260px;
 }

 button{
    background-color: var(--custom-bg-main);
    border: none;
    height: 3rem;
    width: 26rem;
    border-radius: 5px;
    color: var(--kt-input-solid-color);
    cursor: pointer;
 }